@using Quacoon.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="jumbotron jumbotron-fluid cblogin">
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-md-8">
                <section id="loginForm">
                    <p id="qheader">Log in</p>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10 qcallout">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10 qcallout">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 qcallout">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 qcallout">
                                <input type="submit" value="Log in" class="btn btn-default cbbutton" />
                            </div>
                        </div>
                        <p class="qcallout" id="qregisterbanner">
                            @Html.ActionLink("Don't have an account? Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "cbLink" })
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p> *@
                    }
                </section>
            </div>
            <div class="col-md-4" style="margin-top:80px;">
                @*<section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section> *@
            </div>
        </div>


    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}